/* .usercontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
} */
@media (min-width: 400px) {
    .usercontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5px;
    }
}

@media (min-width: 600px) {
    .usercontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 5px;
    }
}

@media (min-width: 900px) {
    .usercontainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 5px;
    }
}
